<tr>
  <td><%= organization_user.organization.name %></td>
  <td><%= organization_user.organization.uniqueid %></td>
  <td><%= organization_user.name %></td>
  <td><%= organization_user.user.name %></td>
  <td><%= organization_user.user.uniqueid %></td>
  <td><%= organization_user.visibility %></td>
  <td><%= organization_user.humanized_status %></td>
</tr>