<tr>
  <td><%= organization_resource.organization.name %></td>
  <td><%= organization_resource.organization.uniqueid %></td>
  <td><%= organization_resource.name %></td>
  <td><%= organization_resource.resource.name %></td>
  <td><%= organization_resource.resource.uniqueid %></td>
  <td><%= organization_resource.visibility %><td>
</tr>